body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 
}

a {
  color: #00B7FF;
}

#container{
width:810px; /* фиксированная ширина в 800 пикселей*/
margin:0 auto; /* ровняем по центру - по горизонтали */
text-align:left; /*контент по левому краю, анулируем tex-align:center; в Body*/
}
/*Стили для верхнего div блока*/
#header{
background-color:#F0F0F0;/*зелёный фон div блока*/
}
/*Стили для левого div блока*/
#left{
background-color:#F0F0F0;/*красный фон div блока*/
width:180px; /*ширина левого div блока */
float:left; /*располагаем по левому краю, с обтеканием справа*/
height:700px;
}
/*Стили для div блок по центру*/
#content{
background-color:#FFFFFF;/*желтый фон div блока*/
margin:0px; /*необходимые обнуления*/
margin-left:181px; /*отступ слева, ширина левого div блока + 1px*/
}
#clear{
clear:left;/*отменяем обтекание, прижатого к левой стороне блока*/
background-color:#F0F0F0;
}
/*Стили для нижнего div блока*/
#footer{
background-color:#F0F0F0;/*голубой фон div блока*/
}
#messag{
background-color:#F0FCFC;
width:500px;
height:500px;
vertical-align:top;
}
#msgLine{
background-color:#F0F0FF;
}

#login {
background-color:#F0FCFC;
position:relative;
    left:50%;
    margin-left:-100px;
    width:200px;
    background:#F0FCFC;
    border:1px solid #FF0000;
}

