STATUS: 200
HEADERS: {"cache-control":"private","content-length":"686","content-type":"text/plain; charset=utf-8","server":"Microsoft-IIS/6.0","x-powered-by":"ASP.NET","x-aspnet-version":"2.0.50727","date":"Sat, 21 Jan 2012 10:36:53 GMT"}
BODY: 178|updatePanel|ctl00_UserRightMenu1_UserTimer1_UpdatePanel1|
		<table style="width: 100%;" cellpadding="0" cellspacing="0">
			<tr>
				<td>Сб. 21 Января</td>
			</tr>
			<tr>
				<td>14 ч. 36 м. 53 с. </td>
			</tr>
		</table>
	|0|hiddenField|__EVENTTARGET||0|hiddenField|__EVENTARGUMENT||0|hiddenField|__LASTFOCUS||38|asyncPostBackControlIDs||ctl00$UserRightMenu1$UserTimer1$Timer1|0|postBackControlIDs|||45|updatePanelIDs||tctl00$UserRightMenu1$UserTimer1$UpdatePanel1|0|childUpdatePanelIDs|||44|panelsToRefreshIDs||ctl00$UserRightMenu1$UserTimer1$UpdatePanel1|2|asyncPostBackTimeout||90|12|formAction||Default.aspx|16|pageTitle||Главная страница|
