!!! 5
html
	head
		link(rel='stylesheet', href='style.css')
		title= title
	body
		header
			div(id='header') 
				h1 #{title}
			div(id='left') 
				H3(align='center') меню
					!= linksMenu
			div(id='content') 
				//div(id='messag')
				table(border=1)
					tr
						td(id='messag')
							!= messages
					tr
						td
							//form(action="/test2", method="post")
							form(method="post")
								textarea(name="text", cols="60", rows="3" )
								br
								input(type="submit", value="Отправить")
					
			div(id='clear')
			div(id='footer') Нижний div блок
					
			//div(style='background:#F0F0F0;' )
			//	p(align='center')
			//		h2 Welcome to #{title}
			//div(style='background:#F0F0F0; width:200px;' )
			//	nav
			//		ul
			//			li 
			//				a(href="/") Home
			//			li 
			//				a(href="/about") About
			//			li 
			//				a(href="/contact") Contact
