!!! 5
html
	head
		link(rel='stylesheet', href='style.css')
		title= title
		script(src="javascripts/md5.js")
		script(type="text/javascript")
			function pwd_handler(form) {
				if (form.password.value != '')
				{
					form.md5password.value = calcMD5(form.password.value);
					form.password.value = '';
				}
			}
	body
		div(id='login')
			form(method="post", onsubmit="pwd_handler(this);")
				b логин:
				br
				input(type="text", name="username")
				br
				b пароль:
				br
				input(type="text", name="password")
				br
				input(type="submit", value="вход")
				input(type="hidden", name="md5password", value="",)
