//h1= title
//p Welcome to #{title}
body()
	table(style="height:800px;", width="100%", cellspacing="0", cellpadding="0")
		tr
			td(height="15%",width="15%", style="border-top: none; border-bottom: 3px solid #000000; border-left: none; border-right: none;", align="center")
				img(src="/logo/logo.jpg")
			td(height="15%",width="85%", style="border-top: none; border-bottom: 3px solid #000000; border-left: 3px solid #000000; border-right: none;", align="center")
				h1 Pulse Computer Consulting
		tr
			td(height="85%",width="15%", style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding:5px; vertical-align:top;")
				div(id="menu")
					include includes/menu.jade
			td(height="85%",width="85%", style="border-top: none; border-bottom: none; border-left: 3px solid #000000; border-right: none; padding:5px; vertical-align:top;")
				div(id="content")
					p content

