!!! 5
html
   head
      script(type='text/javascript', src='javascripts/jq/jquery-1.7.min.js')
      link(rel='stylesheet'. href='style.css')
         
   body
      script(type='text/javascript')
         $(document).ready(function(){              // по окончанию загрузки страницы
            $('#example').click(function(){      // вешаем на клик по элементу с id = example
               $(this).load('/ajax/root',{test:'tetetete'}); //передача сообщения через post, если нет сообщения то будет get запрос и вставка ответа в this 
            })
         });
      div(id='example', class='example cursor') нажми меня для ajax запроса 
h1= title
p Welcome to #{title}
