body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.texMenu {
  font-size:18px;
  color:#00AAFF;
  text-align:center;
}
.menuItem {
background-color:#f9f8ee;
}
.cursorPointer {
    cursor:pointer;
}
