div(class="texMenu menuItem cursorPointer")
	p главная
div(class="texMenu menuItem cursorPointer")
	p услуги
div(class="texMenu menuItem cursorPointer")
	p контакты
div(class="texMenu menuItem cursorPointer")
	p о нас


