#container{
/*фиксированная ширина 810 пикселей*/
width:810px;
/*ровняем по центру, по горизонтали*/ 
margin:0 auto;
}
#header{
/*Цвет фона - зелёный*/
background-color:green;
}
#left{
background-color:red;
}
#content{
background-color:yellow;
}
#footer{
background-color:blue;
}
